<html>
<body>
<h1>
  マニフェストスイッチ
</h1>
<h2>
  登録情報一覧
</h2>
<p><a href="/manifestos">マニフェスト一覧</a></p>
<p><a href="/seijikas">政治家一覧</a></p>

<h2>新規登録する</h2>
<p><a href="/manifestos/new">マニフェストを新規登録する</a></p>


</body>
</html>
