<%= form_for(@manifesto) do |f| %>
  <% if @manifesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manifesto.errors.count, "error") %> prohibited this manifesto from being saved:</h2>

      <ul>
      <% @manifesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manifesto_type_id %><br>
    <%= f.text_field :manifesto_type_id %>
  </div>
  <div class="field">
    <%= f.label :is_open %><br>
    <%= f.check_box :is_open %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name_kana %><br>
    <%= f.text_field :name_kana %>
  </div>
  <div class="field">
    <%= f.label :pref_id %><br>
    <%= f.text_field :pref_id %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.number_field :area %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <div class="field">
    <%= f.label :vision %><br>
    <%= f.text_area :vision %>
  </div>
  <div class="field">
    <%= f.label :theme %><br>
    <%= f.text_area :theme %>
  </div>
  <div class="field">
    <%= f.label :mypolicy1field1 %><br>
    <%= f.number_field :mypolicy1field1 %>
  </div>
  <div class="field">
    <%= f.label :mypolicy1field2 %><br>
    <%= f.number_field :mypolicy1field2 %>
  </div>
  <div class="field">
    <%= f.label :mypolicy1field3 %><br>
    <%= f.number_field :mypolicy1field3 %>
  </div>
  <div class="field">
    <%= f.label :mypolicy1content %><br>
    <%= f.text_field :mypolicy1content %>
  </div>
  <div class="field">
    <%= f.label :mypolicy2field1 %><br>
    <%= f.number_field :mypolicy2field1 %>
  </div>
  <div class="field">
    <%= f.label :mypolicy2field2 %><br>
    <%= f.number_field :mypolicy2field2 %>
  </div>
  <div class="field">
    <%= f.label :mypolicy2field3 %><br>
    <%= f.number_field :mypolicy2field3 %>
  </div>
  <div class="field">
    <%= f.label :mypolicy2content %><br>
    <%= f.text_area :mypolicy2content %>
  </div>
  <div class="field">
    <%= f.label :mypolicy3field1 %><br>
    <%= f.number_field :mypolicy3field1 %>
  </div>
  <div class="field">
    <%= f.label :mypolicy3field2 %><br>
    <%= f.number_field :mypolicy3field2 %>
  </div>
  <div class="field">
    <%= f.label :mypolicy3field3 %><br>
    <%= f.number_field :mypolicy3field3 %>
  </div>
  <div class="field">
    <%= f.label :mypolicy3content %><br>
    <%= f.text_area :mypolicy3content %>
  </div>
  <div class="field">
    <%= f.label :policyfield1 %><br>
    <%= f.number_field :policyfield1 %>
  </div>
  <div class="field">
    <%= f.label :policyfield2 %><br>
    <%= f.number_field :policyfield2 %>
  </div>
  <div class="field">
    <%= f.label :policyfield3 %><br>
    <%= f.number_field :policyfield3 %>
  </div>
  <div class="field">
    <%= f.label :policyfield4 %><br>
    <%= f.number_field :policyfield4 %>
  </div>
  <div class="field">
    <%= f.label :policyfield5 %><br>
    <%= f.number_field :policyfield5 %>
  </div>
  <div class="field">
    <%= f.label :policyfield6 %><br>
    <%= f.number_field :policyfield6 %>
  </div>
  <div class="field">
    <%= f.label :policyfield7 %><br>
    <%= f.number_field :policyfield7 %>
  </div>
  <div class="field">
    <%= f.label :policyfield8 %><br>
    <%= f.number_field :policyfield8 %>
  </div>
  <div class="field">
    <%= f.label :policyfield9 %><br>
    <%= f.number_field :policyfield9 %>
  </div>
  <div class="field">
    <%= f.label :policyfield10 %><br>
    <%= f.number_field :policyfield10 %>
  </div>
  <div class="field">
    <%= f.label :kensyo %><br>
    <%= f.check_box :kensyo %>
  </div>
  <div class="field">
    <%= f.label :file_name %><br>
    <%= f.text_area :file_name %>
  </div>
  <div class="field">
    <%= f.label :acccept %><br>
    <%= f.check_box :acccept %>
  </div>
  <div class="field">
    <%= f.label :senkyoku %><br>
    <%= f.text_area :senkyoku %>
  </div>
  <div class="field">
    <%= f.label :senkyoname %><br>
    <%= f.text_area :senkyoname %>
  </div>
  <div class="field">
    <%= f.label :topic1_1cont %><br>
    <%= f.text_area :topic1_1cont %>
  </div>
  <div class="field">
    <%= f.label :topic1_1term %><br>
    <%= f.text_area :topic1_1term %>
  </div>
  <div class="field">
    <%= f.label :topic1_1goal %><br>
    <%= f.text_area :topic1_1goal %>
  </div>
  <div class="field">
    <%= f.label :topic1_1reso %><br>
    <%= f.text_area :topic1_1reso %>
  </div>
  <div class="field">
    <%= f.label :topic1_2cont %><br>
    <%= f.text_area :topic1_2cont %>
  </div>
  <div class="field">
    <%= f.label :topic1_2term %><br>
    <%= f.text_area :topic1_2term %>
  </div>
  <div class="field">
    <%= f.label :topic1_2goal %><br>
    <%= f.text_area :topic1_2goal %>
  </div>
  <div class="field">
    <%= f.label :topic1_2reso %><br>
    <%= f.text_area :topic1_2reso %>
  </div>
  <div class="field">
    <%= f.label :topic1_3cont %><br>
    <%= f.text_area :topic1_3cont %>
  </div>
  <div class="field">
    <%= f.label :topic1_3term %><br>
    <%= f.text_area :topic1_3term %>
  </div>
  <div class="field">
    <%= f.label :topic1_3goal %><br>
    <%= f.text_area :topic1_3goal %>
  </div>
  <div class="field">
    <%= f.label :topic1_3reso %><br>
    <%= f.text_area :topic1_3reso %>
  </div>
  <div class="field">
    <%= f.label :topic2_1cont %><br>
    <%= f.text_area :topic2_1cont %>
  </div>
  <div class="field">
    <%= f.label :topic2_1term %><br>
    <%= f.text_area :topic2_1term %>
  </div>
  <div class="field">
    <%= f.label :topic2_1goal %><br>
    <%= f.text_area :topic2_1goal %>
  </div>
  <div class="field">
    <%= f.label :topic2_1reso %><br>
    <%= f.text_area :topic2_1reso %>
  </div>
  <div class="field">
    <%= f.label :topic2_2cont %><br>
    <%= f.text_area :topic2_2cont %>
  </div>
  <div class="field">
    <%= f.label :topic2_2term %><br>
    <%= f.text_area :topic2_2term %>
  </div>
  <div class="field">
    <%= f.label :topic2_2goal %><br>
    <%= f.text_area :topic2_2goal %>
  </div>
  <div class="field">
    <%= f.label :topic2_2reso %><br>
    <%= f.text_area :topic2_2reso %>
  </div>
  <div class="field">
    <%= f.label :topic2_3cont %><br>
    <%= f.text_area :topic2_3cont %>
  </div>
  <div class="field">
    <%= f.label :topic2_3term %><br>
    <%= f.text_area :topic2_3term %>
  </div>
  <div class="field">
    <%= f.label :topic2_3goal %><br>
    <%= f.text_area :topic2_3goal %>
  </div>
  <div class="field">
    <%= f.label :topic2_3reso %><br>
    <%= f.text_area :topic2_3reso %>
  </div>
  <div class="field">
    <%= f.label :topic3_1cont %><br>
    <%= f.text_area :topic3_1cont %>
  </div>
  <div class="field">
    <%= f.label :topic3_1term %><br>
    <%= f.text_area :topic3_1term %>
  </div>
  <div class="field">
    <%= f.label :topic3_1goal %><br>
    <%= f.text_area :topic3_1goal %>
  </div>
  <div class="field">
    <%= f.label :topic3_1reso %><br>
    <%= f.text_area :topic3_1reso %>
  </div>
  <div class="field">
    <%= f.label :topic3_2cont %><br>
    <%= f.text_area :topic3_2cont %>
  </div>
  <div class="field">
    <%= f.label :topic3_2term %><br>
    <%= f.text_area :topic3_2term %>
  </div>
  <div class="field">
    <%= f.label :topic3_2goal %><br>
    <%= f.text_area :topic3_2goal %>
  </div>
  <div class="field">
    <%= f.label :topic3_2reso %><br>
    <%= f.text_area :topic3_2reso %>
  </div>
  <div class="field">
    <%= f.label :topic3_3cont %><br>
    <%= f.text_area :topic3_3cont %>
  </div>
  <div class="field">
    <%= f.label :topic3_3term %><br>
    <%= f.text_area :topic3_3term %>
  </div>
  <div class="field">
    <%= f.label :topic3_3goal %><br>
    <%= f.text_area :topic3_3goal %>
  </div>
  <div class="field">
    <%= f.label :topic3_3reso %><br>
    <%= f.text_area :topic3_3reso %>
  </div>
  <div class="field">
    <%= f.label :assem_act1 %><br>
    <%= f.text_area :assem_act1 %>
  </div>
  <div class="field">
    <%= f.label :assem_act2 %><br>
    <%= f.text_area :assem_act2 %>
  </div>
  <div class="field">
    <%= f.label :assem_act3 %><br>
    <%= f.text_area :assem_act3 %>
  </div>
  <div class="field">
    <%= f.label :url_ %><br>
    <%= f.text_area :url_ %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :geo %><br>
    <%= f.text_area :geo %>
  </div>
  <div class="field">
    <%= f.label :policyfieldsum %><br>
    <%= f.number_field :policyfieldsum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
