<p id="notice"><%= notice %></p>

<h1>Listing Manifestos</h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.manifesto.manifesto_type') %></th>
      <th><%= t('activerecord.attributes.manifesto.is_open') %></th>
      <th><%= t('activerecord.attributes.manifesto.name') %></th>
      <th><%= t('activerecord.attributes.manifesto.name_kana') %></th>
      <th><%= t('activerecord.attributes.manifesto.pref') %></th>
      <th><%= t('activerecord.attributes.manifesto.area') %></th>
      <th width="200px"><%= t('activerecord.attributes.manifesto.reason') %></th>
      <th width="200px"><%= t('activerecord.attributes.manifesto.vision') %></th>
      <th width="200px"><%= t('activerecord.attributes.manifesto.theme') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy1field1') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy1field2') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy1field3') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy1content') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy2field1') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy2field2') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy2field3') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy2content') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy3field1') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy3field2') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy3field3') %></th>
      <th><%= t('activerecord.attributes.manifesto.mypolicy3content') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield1') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield2') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield3') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield4') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield5') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield6') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield7') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield8') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield9') %></th>
      <th><%= t('activerecord.attributes.manifesto.policyfield10') %></th>
      <th><%= t('activerecord.attributes.manifesto.kensyo') %></th>
      <th><%= t('activerecord.attributes.manifesto.file_name') %></th>
      <th><%= t('activerecord.attributes.manifesto.acccept') %></th>
      <th><%= t('activerecord.attributes.manifesto.senkyoku') %></th>
      <th><%= t('activerecord.attributes.manifesto.senkyoname') %></th>
      <!--th>Topic1 1cont</th>
      <th>Topic1 1term</th>
      <th>Topic1 1goal</th>
      <th>Topic1 1reso</th>
      <th>Topic1 2cont</th>
      <th>Topic1 2term</th>
      <th>Topic1 2goal</th>
      <th>Topic1 2reso</th>
      <th>Topic1 3cont</th>
      <th>Topic1 3term</th>
      <th>Topic1 3goal</th>
      <th>Topic1 3reso</th>
      <th>Topic2 1cont</th>
      <th>Topic2 1term</th>
      <th>Topic2 1goal</th>
      <th>Topic2 1reso</th>
      <th>Topic2 2cont</th>
      <th>Topic2 2term</th>
      <th>Topic2 2goal</th>
      <th>Topic2 2reso</th>
      <th>Topic2 3cont</th>
      <th>Topic2 3term</th>
      <th>Topic2 3goal</th>
      <th>Topic2 3reso</th>
      <th>Topic3 1cont</th>
      <th>Topic3 1term</th>
      <th>Topic3 1goal</th>
      <th>Topic3 1reso</th>
      <th>Topic3 2cont</th>
      <th>Topic3 2term</th>
      <th>Topic3 2goal</th>
      <th>Topic3 2reso</th>
      <th>Topic3 3cont</th>
      <th>Topic3 3term</th>
      <th>Topic3 3goal</th>
      <th>Topic3 3reso</th>
      <th>Assem act1</th>
      <th>Assem act2</th>
      <th>Assem act3</th>
      <th>Url </th>
      <th>Photo</th>
      <th>Geo</th>
      <th>Policyfieldsum</th-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manifestos.each do |manifesto| %>
      <tr>
        <td><%= manifesto.manifesto_type.name %></td>
        <td><%= manifesto.is_open %></td>
        <td><%= manifesto.name %></td>
        <td><%= manifesto.name_kana %></td>
        <td><%= manifesto.pref.name %></td>
        <td><%= manifesto.area %></td>
        <td><%= manifesto.reason[0,100] %></td>
        <td><%= manifesto.vision[0,100] %></td>
        <td><%= manifesto.theme[0,100] %></td>
        <td><%= manifesto.mypolicy1field1.try(:name) || "" %></td>
        <td><%= manifesto.mypolicy1field2.try(:name) || "" %></td>
        <td><%= manifesto.mypolicy1field3.try(:name) || "" %></td>
        <td><%= manifesto.mypolicy1content %></td>
        <td><%= manifesto.mypolicy2field1.try(:name) || "" %></td>
        <td><%= manifesto.mypolicy2field2.try(:name) || "" %></td>
        <td><%= manifesto.mypolicy2field3.try(:name) || "" %></td>
        <td><%= manifesto.mypolicy2content %></td>
        <td><%= manifesto.mypolicy3field1.try(:name) || "" %></td>
        <td><%= manifesto.mypolicy3field2.try(:name) || "" %></td>
        <td><%= manifesto.mypolicy3field3.try(:name) || "" %></td>
        <td><%= manifesto.mypolicy3content %></td>
        <td><%= manifesto.policyfield1 %></td>
        <td><%= manifesto.policyfield2 %></td>
        <td><%= manifesto.policyfield3 %></td>
        <td><%= manifesto.policyfield4 %></td>
        <td><%= manifesto.policyfield5 %></td>
        <td><%= manifesto.policyfield6 %></td>
        <td><%= manifesto.policyfield7 %></td>
        <td><%= manifesto.policyfield8 %></td>
        <td><%= manifesto.policyfield9 %></td>
        <td><%= manifesto.policyfield10 %></td>
        <td><%= manifesto.kensyo %></td>
        <td><%= manifesto.file_name %></td>
        <td><%= manifesto.acccept %></td>
        <td><%= manifesto.senkyoku %></td>
        <td><%= manifesto.senkyoname %></td>
        <!--td><%= manifesto.topic1_1cont %></td>
        <td><%= manifesto.topic1_1term %></td>
        <td><%= manifesto.topic1_1goal %></td>
        <td><%= manifesto.topic1_1reso %></td>
        <td><%= manifesto.topic1_2cont %></td>
        <td><%= manifesto.topic1_2term %></td>
        <td><%= manifesto.topic1_2goal %></td>
        <td><%= manifesto.topic1_2reso %></td>
        <td><%= manifesto.topic1_3cont %></td>
        <td><%= manifesto.topic1_3term %></td>
        <td><%= manifesto.topic1_3goal %></td>
        <td><%= manifesto.topic1_3reso %></td>
        <td><%= manifesto.topic2_1cont %></td>
        <td><%= manifesto.topic2_1term %></td>
        <td><%= manifesto.topic2_1goal %></td>
        <td><%= manifesto.topic2_1reso %></td>
        <td><%= manifesto.topic2_2cont %></td>
        <td><%= manifesto.topic2_2term %></td>
        <td><%= manifesto.topic2_2goal %></td>
        <td><%= manifesto.topic2_2reso %></td>
        <td><%= manifesto.topic2_3cont %></td>
        <td><%= manifesto.topic2_3term %></td>
        <td><%= manifesto.topic2_3goal %></td>
        <td><%= manifesto.topic2_3reso %></td>
        <td><%= manifesto.topic3_1cont %></td>
        <td><%= manifesto.topic3_1term %></td>
        <td><%= manifesto.topic3_1goal %></td>
        <td><%= manifesto.topic3_1reso %></td>
        <td><%= manifesto.topic3_2cont %></td>
        <td><%= manifesto.topic3_2term %></td>
        <td><%= manifesto.topic3_2goal %></td>
        <td><%= manifesto.topic3_2reso %></td>
        <td><%= manifesto.topic3_3cont %></td>
        <td><%= manifesto.topic3_3term %></td>
        <td><%= manifesto.topic3_3goal %></td>
        <td><%= manifesto.topic3_3reso %></td>
        <td><%= manifesto.assem_act1 %></td>
        <td><%= manifesto.assem_act2 %></td>
        <td><%= manifesto.assem_act3 %></td>
        <td><%= manifesto.url_ %></td>
        <td><%= manifesto.photo %></td>
        <td><%= manifesto.geo %></td>
        <td><%= manifesto.policyfieldsum %></td-->
        <td><%= link_to 'Show', manifesto %></td>
        <td><%= link_to 'Edit', edit_manifesto_path(manifesto) %></td>
        <td><%= link_to 'Destroy', manifesto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manifesto', new_manifesto_path %>
