<p id="notice"><%= notice %></p>

<p>
  <strong>Manifesto type:</strong>
  <%= @manifesto.manifesto_type %>
</p>

<p>
  <strong>Is open:</strong>
  <%= @manifesto.is_open %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manifesto.name %>
</p>

<p>
  <strong>Name kana:</strong>
  <%= @manifesto.name_kana %>
</p>

<p>
  <strong>Pref:</strong>
  <%= @manifesto.pref %>
</p>

<p>
  <strong>Area:</strong>
  <%= @manifesto.area %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @manifesto.reason %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @manifesto.vision %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @manifesto.theme %>
</p>

<p>
  <strong>Mypolicy1field1:</strong>
  <%= @manifesto.mypolicy1field1 %>
</p>

<p>
  <strong>Mypolicy1field2:</strong>
  <%= @manifesto.mypolicy1field2 %>
</p>

<p>
  <strong>Mypolicy1field3:</strong>
  <%= @manifesto.mypolicy1field3 %>
</p>

<p>
  <strong>Mypolicy1content:</strong>
  <%= @manifesto.mypolicy1content %>
</p>

<p>
  <strong>Mypolicy2field1:</strong>
  <%= @manifesto.mypolicy2field1 %>
</p>

<p>
  <strong>Mypolicy2field2:</strong>
  <%= @manifesto.mypolicy2field2 %>
</p>

<p>
  <strong>Mypolicy2field3:</strong>
  <%= @manifesto.mypolicy2field3 %>
</p>

<p>
  <strong>Mypolicy2content:</strong>
  <%= @manifesto.mypolicy2content %>
</p>

<p>
  <strong>Mypolicy3field1:</strong>
  <%= @manifesto.mypolicy3field1 %>
</p>

<p>
  <strong>Mypolicy3field2:</strong>
  <%= @manifesto.mypolicy3field2 %>
</p>

<p>
  <strong>Mypolicy3field3:</strong>
  <%= @manifesto.mypolicy3field3 %>
</p>

<p>
  <strong>Mypolicy3content:</strong>
  <%= @manifesto.mypolicy3content %>
</p>

<p>
  <strong>Policyfield1:</strong>
  <%= @manifesto.policyfield1 %>
</p>

<p>
  <strong>Policyfield2:</strong>
  <%= @manifesto.policyfield2 %>
</p>

<p>
  <strong>Policyfield3:</strong>
  <%= @manifesto.policyfield3 %>
</p>

<p>
  <strong>Policyfield4:</strong>
  <%= @manifesto.policyfield4 %>
</p>

<p>
  <strong>Policyfield5:</strong>
  <%= @manifesto.policyfield5 %>
</p>

<p>
  <strong>Policyfield6:</strong>
  <%= @manifesto.policyfield6 %>
</p>

<p>
  <strong>Policyfield7:</strong>
  <%= @manifesto.policyfield7 %>
</p>

<p>
  <strong>Policyfield8:</strong>
  <%= @manifesto.policyfield8 %>
</p>

<p>
  <strong>Policyfield9:</strong>
  <%= @manifesto.policyfield9 %>
</p>

<p>
  <strong>Policyfield10:</strong>
  <%= @manifesto.policyfield10 %>
</p>

<p>
  <strong>Kensyo:</strong>
  <%= @manifesto.kensyo %>
</p>

<p>
  <strong>File nae:</strong>
  <%= @manifesto.file_name %>
</p>

<p>
  <strong>Acccept:</strong>
  <%= @manifesto.acccept %>
</p>

<p>
  <strong>Senkyoku:</strong>
  <%= @manifesto.senkyoku %>
</p>

<p>
  <strong>Senkyoname:</strong>
  <%= @manifesto.senkyoname %>
</p>

<p>
  <strong>Topic1 1cont:</strong>
  <%= @manifesto.topic1_1cont %>
</p>

<p>
  <strong>Topic1 1term:</strong>
  <%= @manifesto.topic1_1term %>
</p>

<p>
  <strong>Topic1 1goal:</strong>
  <%= @manifesto.topic1_1goal %>
</p>

<p>
  <strong>Topic1 1reso:</strong>
  <%= @manifesto.topic1_1reso %>
</p>

<p>
  <strong>Topic1 2cont:</strong>
  <%= @manifesto.topic1_2cont %>
</p>

<p>
  <strong>Topic1 2term:</strong>
  <%= @manifesto.topic1_2term %>
</p>

<p>
  <strong>Topic1 2goal:</strong>
  <%= @manifesto.topic1_2goal %>
</p>

<p>
  <strong>Topic1 2reso:</strong>
  <%= @manifesto.topic1_2reso %>
</p>

<p>
  <strong>Topic1 3cont:</strong>
  <%= @manifesto.topic1_3cont %>
</p>

<p>
  <strong>Topic1 3term:</strong>
  <%= @manifesto.topic1_3term %>
</p>

<p>
  <strong>Topic1 3goal:</strong>
  <%= @manifesto.topic1_3goal %>
</p>

<p>
  <strong>Topic1 3reso:</strong>
  <%= @manifesto.topic1_3reso %>
</p>

<p>
  <strong>Topic2 1cont:</strong>
  <%= @manifesto.topic2_1cont %>
</p>

<p>
  <strong>Topic2 1term:</strong>
  <%= @manifesto.topic2_1term %>
</p>

<p>
  <strong>Topic2 1goal:</strong>
  <%= @manifesto.topic2_1goal %>
</p>

<p>
  <strong>Topic2 1reso:</strong>
  <%= @manifesto.topic2_1reso %>
</p>

<p>
  <strong>Topic2 2cont:</strong>
  <%= @manifesto.topic2_2cont %>
</p>

<p>
  <strong>Topic2 2term:</strong>
  <%= @manifesto.topic2_2term %>
</p>

<p>
  <strong>Topic2 2goal:</strong>
  <%= @manifesto.topic2_2goal %>
</p>

<p>
  <strong>Topic2 2reso:</strong>
  <%= @manifesto.topic2_2reso %>
</p>

<p>
  <strong>Topic2 3cont:</strong>
  <%= @manifesto.topic2_3cont %>
</p>

<p>
  <strong>Topic2 3term:</strong>
  <%= @manifesto.topic2_3term %>
</p>

<p>
  <strong>Topic2 3goal:</strong>
  <%= @manifesto.topic2_3goal %>
</p>

<p>
  <strong>Topic2 3reso:</strong>
  <%= @manifesto.topic2_3reso %>
</p>

<p>
  <strong>Topic3 1cont:</strong>
  <%= @manifesto.topic3_1cont %>
</p>

<p>
  <strong>Topic3 1term:</strong>
  <%= @manifesto.topic3_1term %>
</p>

<p>
  <strong>Topic3 1goal:</strong>
  <%= @manifesto.topic3_1goal %>
</p>

<p>
  <strong>Topic3 1reso:</strong>
  <%= @manifesto.topic3_1reso %>
</p>

<p>
  <strong>Topic3 2cont:</strong>
  <%= @manifesto.topic3_2cont %>
</p>

<p>
  <strong>Topic3 2term:</strong>
  <%= @manifesto.topic3_2term %>
</p>

<p>
  <strong>Topic3 2goal:</strong>
  <%= @manifesto.topic3_2goal %>
</p>

<p>
  <strong>Topic3 2reso:</strong>
  <%= @manifesto.topic3_2reso %>
</p>

<p>
  <strong>Topic3 3cont:</strong>
  <%= @manifesto.topic3_3cont %>
</p>

<p>
  <strong>Topic3 3term:</strong>
  <%= @manifesto.topic3_3term %>
</p>

<p>
  <strong>Topic3 3goal:</strong>
  <%= @manifesto.topic3_3goal %>
</p>

<p>
  <strong>Topic3 3reso:</strong>
  <%= @manifesto.topic3_3reso %>
</p>

<p>
  <strong>Assem act1:</strong>
  <%= @manifesto.assem_act1 %>
</p>

<p>
  <strong>Assem act2:</strong>
  <%= @manifesto.assem_act2 %>
</p>

<p>
  <strong>Assem act3:</strong>
  <%= @manifesto.assem_act3 %>
</p>

<p>
  <strong>Url :</strong>
  <%= @manifesto.url_ %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @manifesto.photo %>
</p>

<p>
  <strong>Geo:</strong>
  <%= @manifesto.geo %>
</p>

<p>
  <strong>Policyfieldsum:</strong>
  <%= @manifesto.policyfieldsum %>
</p>

<%= link_to 'Edit', edit_manifesto_path(@manifesto) %> |
<%= link_to 'Back', manifestos_path %>
