<%= form_for(@seijika) do |f| %>
  <% if @seijika.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seijika.errors.count, "error") %> prohibited this seijika from being saved:</h2>

      <ul>
      <% @seijika.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_type %><br>
    <%= f.number_field :user_type %>
  </div>
  <div class="field">
    <%= f.label :sei %><br>
    <%= f.text_field :sei %>
  </div>
  <div class="field">
    <%= f.label :mei %><br>
    <%= f.text_field :mei %>
  </div>
  <div class="field">
    <%= f.label :sei_kana %><br>
    <%= f.text_field :sei_kana %>
  </div>
  <div class="field">
    <%= f.label :mei_kana %><br>
    <%= f.text_field :mei_kana %>
  </div>
  <div class="field">
    <%= f.label :sei_roma %><br>
    <%= f.text_field :sei_roma %>
  </div>
  <div class="field">
    <%= f.label :mei_roma %><br>
    <%= f.text_field :mei_roma %>
  </div>
  <div class="field">
    <%= f.label :mail1 %><br>
    <%= f.text_field :mail1 %>
  </div>
  <div class="field">
    <%= f.label :mail2 %><br>
    <%= f.text_field :mail2 %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.datetime_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :pref %><br>
    <%= f.text_field :pref %>
  </div>
  <div class="field">
    <%= f.label :sex_ %><br>
    <%= f.check_box :sex_ %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :website_url %><br>
    <%= f.text_area :website_url %>
  </div>
  <div class="field">
    <%= f.label :blog_url %><br>
    <%= f.text_area :blog_url %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_area :twitter %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_area :facebook %>
  </div>
  <div class="field">
    <%= f.label :movie %><br>
    <%= f.text_area :movie %>
  </div>
  <div class="field">
    <%= f.label :certification %><br>
    <%= f.check_box :certification %>
  </div>
  <div class="field">
    <%= f.label :certificated_at %><br>
    <%= f.datetime_select :certificated_at %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_area :city %>
  </div>
  <div class="field">
    <%= f.label :office_zip %><br>
    <%= f.text_field :office_zip %>
  </div>
  <div class="field">
    <%= f.label :office_pref %><br>
    <%= f.text_field :office_pref %>
  </div>
  <div class="field">
    <%= f.label :office_city %><br>
    <%= f.text_area :office_city %>
  </div>
  <div class="field">
    <%= f.label :office_address %><br>
    <%= f.text_area :office_address %>
  </div>
  <div class="field">
    <%= f.label :office_building %><br>
    <%= f.text_area :office_building %>
  </div>
  <div class="field">
    <%= f.label :office_tel %><br>
    <%= f.text_area :office_tel %>
  </div>
  <div class="field">
    <%= f.label :office_mobile %><br>
    <%= f.text_area :office_mobile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
