<p id="notice"><%= notice %></p>

<h1>Listing Seijikas</h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.seijika.user_type') %></th>
      <th><%= t('activerecord.attributes.seijika.sei') %></th>
      <th><%= t('activerecord.attributes.seijika.mei') %></th>
      <th><%= t('activerecord.attributes.seijika.sei_kana') %></th>
      <th><%= t('activerecord.attributes.seijika.mei_kana') %></th>
      <th><%= t('activerecord.attributes.seijika.sei_roma') %></th>
      <th><%= t('activerecord.attributes.seijika.mei_roma') %></th>
      <th><%= t('activerecord.attributes.seijika.mail1') %></th>
      <th><%= t('activerecord.attributes.seijika.mail2') %></th>
      <th><%= t('activerecord.attributes.seijika.birthday') %></th>
      <th><%= t('activerecord.attributes.seijika.tel') %></th>
      <th><%= t('activerecord.attributes.seijika.password') %></th>
      <th><%= t('activerecord.attributes.seijika.pref') %></th>
      <th><%= t('activerecord.attributes.seijika.sex_') %></th>
      <th><%= t('activerecord.attributes.seijika.photo') %></th>
      <th><%= t('activerecord.attributes.seijika.website_url') %></th>
      <th><%= t('activerecord.attributes.seijika.blog_url') %></th>
      <th><%= t('activerecord.attributes.seijika.twitter') %></th>
      <th><%= t('activerecord.attributes.seijika.facebook') %></th>
      <th><%= t('activerecord.attributes.seijika.movie') %></th>
      <th><%= t('activerecord.attributes.seijika.certification') %></th>
      <th><%= t('activerecord.attributes.seijika.certificated_at') %></th>
      <th><%= t('activerecord.attributes.seijika.city') %></th>
      <th><%= t('activerecord.attributes.seijika.office_zip') %></th>
      <th><%= t('activerecord.attributes.seijika.office_pref') %></th>
      <th><%= t('activerecord.attributes.seijika.office_city') %></th>
      <th><%= t('activerecord.attributes.seijika.office_address') %></th>
      <th><%= t('activerecord.attributes.seijika.office_building') %></th>
      <th><%= t('activerecord.attributes.seijika.office_tel') %></th>
      <th><%= t('activerecord.attributes.seijika.office_mobile') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seijikas.each do |seijika| %>
      <tr>
        <td><%= seijika.user_type %></td>
        <td><%= seijika.sei %></td>
        <td><%= seijika.mei %></td>
        <td><%= seijika.seikana %></td>
        <td><%= seijika.meikana %></td>
        <td><%= seijika.sei_roma %></td>
        <td><%= seijika.mei_roma %></td>
        <td><%= seijika.mail1 %></td>
        <td><%= seijika.mail2 %></td>
        <td><%= seijika.birthday %></td>
        <td><%= seijika.tel %></td>
        <td><%= seijika.password %></td>
        <td><%= seijika.pref %></td>
        <td><%= seijika.sex_ %></td>
        <td><%= seijika.photo %></td>
        <td><%= seijika.website_url %></td>
        <td><%= seijika.blog_url %></td>
        <td><%= seijika.twitter %></td>
        <td><%= seijika.facebook %></td>
        <td><%= seijika.movie %></td>
        <td><%= seijika.certification %></td>
        <td><%= seijika.certificated_at %></td>
        <td><%= seijika.city %></td>
        <td><%= seijika.office_zip %></td>
        <td><%= seijika.office_pref %></td>
        <td><%= seijika.office_city %></td>
        <td><%= seijika.office_address %></td>
        <td><%= seijika.office_building %></td>
        <td><%= seijika.office_tel %></td>
        <td><%= seijika.ofice_mobile %></td>
        <td><%= link_to 'Show', seijika %></td>
        <td><%= link_to 'Edit', edit_seijika_path(seijika) %></td>
        <td><%= link_to 'Destroy', seijika, method::delete, data:{confirm: 'Are you sure?'}%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seijika', new_seijika_path %>
