<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @seijika.user_type %>
</p>

<p>
  <strong>Sei:</strong>
  <%= @seijika.sei %>
</p>

<p>
  <strong>Mei:</strong>
  <%= @seijika.mei %>
</p>

<p>
  <strong>Seikana:</strong>
  <%= @seijika.seikana %>
</p>

<p>
  <strong>Meikana:</strong>
  <%= @seijika.meikana %>
</p>

<p>
  <strong>Sei roma:</strong>
  <%= @seijika.sei_roma %>
</p>

<p>
  <strong>Mei roma:</strong>
  <%= @seijika.mei_roma %>
</p>

<p>
  <strong>Mail1:</strong>
  <%= @seijika.mail1 %>
</p>

<p>
  <strong>Mail2:</strong>
  <%= @seijika.mail2 %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @seijika.birthday %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @seijika.tel %>
</p>

<p>
  <strong>Password:</strong>
  <%= @seijika.password %>
</p>

<p>
  <strong>Pref:</strong>
  <%= @seijika.pref %>
</p>

<p>
  <strong>Sex :</strong>
  <%= @seijika.sex_ %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @seijika.photo %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @seijika.website_url %>
</p>

<p>
  <strong>Blog url:</strong>
  <%= @seijika.blog_url %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @seijika.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @seijika.facebook %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @seijika.movie %>
</p>

<p>
  <strong>Certification:</strong>
  <%= @seijika.certification %>
</p>

<p>
  <strong>Certificated at:</strong>
  <%= @seijika.certificated_at %>
</p>

<p>
  <strong>City:</strong>
  <%= @seijika.city %>
</p>

<p>
  <strong>Office zip:</strong>
  <%= @seijika.office_zip %>
</p>

<p>
  <strong>Office pref:</strong>
  <%= @seijika.office_pref %>
</p>

<p>
  <strong>Office city:</strong>
  <%= @seijika.office_city %>
</p>

<p>
  <strong>Office address:</strong>
  <%= @seijika.office_address %>
</p>

<p>
  <strong>Office building:</strong>
  <%= @seijika.office_building %>
</p>

<p>
  <strong>Office tel:</strong>
  <%= @seijika.office_tel %>
</p>

<p>
  <strong>Ofice mobile:</strong>
  <%= @seijika.ofice_mobile %>
</p>

<%= link_to 'Edit', edit_seijika_path(@seijika) %> |
<%= link_to 'Back', seijikas_path %>
